// Navigation code here
nav{ 
.centerWithSpace();
font-size: 2rem;
padding: 2% 23%;

a{
    text-decoration: none; /* no underline */
    color: black;
}


}//nav

h1{
    .center();
    font-size: 4rem;
    padding: 2%;
}
